<!DOCTYPE html>
<html ng-app ="store">
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <script type="text/javascript" src="angular.min.js" ></script>
    <script type="text/javascript" src="app.js" ></script>
    <p>{{'Hello' + ' Maruthu'}}</p>
</body>
</html>